<% layout('./layouts/boilerplate') %>


<!--     
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title" value="<%=campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%=campground.location %>">
        </div>
        <button>Update Campground</button>
        <p><a href="/campgrounds/<%=campground._id %>">Back to Campground</a></p>
        <footer>
            <a href="/campgrounds">All Campgrounds</a>
        </footer>
    </form> -->

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input  class="form-control" type="text" name="campground[title]" required  id="title" value="<%=campground.title %>">
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input  class="form-control" type="text" name="campground[location]" required id="location" value="<%=campground.location %>">
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" id="price" name="campground[price]" required class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%=campground.price %>">
                        <div class="valid-feedback">
                            Looks good
                        </div>
                      </div>

                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea  class="form-control" type="text" name="campground[description]" required id="description"><%=campground.description %></textarea>
                </div>
                
                
                <div class="input-group mb-3">
                  
                    <input type="file" class="form-control" id="image" name="image" placeholder="Recipient's username" aria-label="Add more images" aria-describedby="basic-addon2" multiple>
                </div>
                

                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
               
            </form>
            <a href="/campgrounds/<%=campground._id %>">Back to Campground</a>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
    
